<% breadcrumb :teams %>
<% if notice %>
<%= render :partial => 'layouts/notice',:locals=>{:notice=>notice} %>
<% end %>
<section>
	<h2>분양업계 스페셜리스트의 드림팀(어벤져스가 현실에서 이루어졌습니다)</h2>
	<article>
		<h3>김종근 팀장</h3>
		<img src="" />		
	</article>
	<article>
		<h3>정종호 과장</h3>
		<img src="" />		
	</article>
	<article>
		<h3>정종호 과장</h3>
		<img src="" />		
	</article>
	<article>
		<h3>정종호 과장</h3>
		<img src="" />		
	</article>
	<article>
		<h3>정종호 과장</h3>
		<img src="" />		
	</article>
</section>
