<article id="sl_blog_categories" class="box sl_aside">
  <div class="box_header">
    <h2>분양 상담, 예약</h2>
    <div class="box_icon">
      <a href="#" class="btn_close"><i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </div>
	<div class="box_content">
		<h3><a href="tel://<%=t(:tel) %>"><%=t(:tel) %></a></h3>
	</div>
</article>