<section id="main_main">
	<section class="row">
		<%= render :partial => 'galleries/index' %>
		<%= render :partial => 'blogs/index' %>
		<%= render :partial => 'notices/index' %>
	</section>
</section>
