  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">분양업계 스페셜리스트 정종호 과장</h4>
      </div>
      <div class="modal-body">
      	안녕하십니까?<br />
      	친절 분양상담 / 정종호 과장입니다.<br />
      	지금! 전화주세요 <a href="tel://<%=t(:tel) %>"><%=t(:tel) %></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%=t(:confirm) %></button>
      </div>
    </div>
  </div>
