<footer id="footer" class="footer">
	<div class="container">	
	<address>
		CopyLeft. 2015, SL. All wrongs reserved.&nbsp;&nbsp; 주소 : 경기 수원시 영통구 매영로 345번길 40 &nbsp;&nbsp;
	</address>
 	</div>	
</footer>
